<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416273103026-bkp0jec0naq6vbl9e8fo3arrlur65ltq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416273103026-bkp0jec0naq6vbl9e8fo3arrlur65ltq</string>
	<key>API_KEY</key>
	<string>AIzaSyCpospGA7rCu1gK4qogWpKYFVUxdEBkIMM</string>
	<key>GCM_SENDER_ID</key>
	<string>416273103026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAthenticationStudy</string>
	<key>PROJECT_ID</key>
	<string>rocos-rex-myrestaurant-202211</string>
	<key>STORAGE_BUCKET</key>
	<string>rocos-rex-myrestaurant-202211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416273103026:ios:b13e80080a59ade0b931ab</string>
</dict>
</plist>